@import url('https://fonts.googleapis.com/css2?family=Lekton:wght@400;700&family=Libre+Barcode+128+Text&family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #333;
    font-family: 'montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    cursor: default ;
    height: 100vh;
    width: 100vw;

}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-bottom: 1px solid #CCC;
    background: rgb(75, 75, 75, 0.9);
    filter: opacity(10);
    padding: 0vw 1vw;
    width: 100%;
    position: fixed;
    max-height: 100vh;
    min-height: 9vh;
    z-index: 300;
    transition: 1s;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;

    margin-top: 15vh;
    color: #fff;

    max-width: 100vw;
    min-width: 100vw;
    max-height: 100vh;

    transition: 0.5s;
}

a{
    text-decoration: none;
    color: #fff;

}

ul a{
    font-size: 1.2rem;
}

#outros{
    display: flex;
    position: relative;
}

#outros ul{
    list-style: none;
    display: flex;
    gap: 3vw;
    padding-right: 3vw;
    align-items: start;
}

#item_port h2{
    border-bottom: 3px rgba(255, 0, 0, 0.4) solid;
}

#hover{
    transition: 0.5s;

        &::after{
        content:'';
        position: absolute;
        width: 100%;
        height: 3px;
        background:rgba(255, 0, 0, 0.479);
        transform: scaleX(0);
        transform-origin: left;
        transition: 0.1s;
    }

    &:hover{
        transform: scaleX(1) ;
    }

    &:hover::after{
        transform: scaleX(1);
        transform-origin: left;
    }
}

#titulo{
    font-family: 'Lekton', sans-serif;
    padding-left: 1.5vw;
    font-size: 3rem;
    letter-spacing: 0.3rem;
}

#titulo_port{
    font-size: 4rem;
    margin-bottom: 4vh;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0vh 5vw;
}

#preto, #poke{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 5vw;
    margin: 5vh 0;

}

#fig_preto, #fig_poke{
    margin: 0;
    box-shadow: 5px 6px 11px -3px rgb(66, 66, 66);
    -webkit-box-shadow: 5px 6px 11px -3px rgb(66, 66, 66);;
    -moz-box-shadow: 5px 6px 11px -3px rgb(66, 66, 66);;
}


#preto_texto, #poke_texto{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    margin-right: 3vw;
    gap: 5vh 0;
}

#preto_texto a, #poke_texto a{
    color: aqua;
    text-decoration: underline;
}


#preto_texto h1, #poke_texto h1{
    font-size: 2.8rem;
    padding: 1vh;
}

#preto_texto h3, #poke_texto h3{
    text-wrap: wrap;
    text-align: justify;
    font-size: 1.8rem;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #242424;
}

::-webkit-scrollbar-thumb{
    background: #161616;
}


/*media query para celular*/
@media (max-width: 450px){

    *{
        max-width: 100vw;
    }

    body{
        overflow: visible;
    }
    
    header{
        width: 100vw;
        display: flex;
        flex-direction: column;
        min-height: 7vh;
        margin: 0;
        padding: 0;
        justify-content: center;
    }

    #outros{
        align-self: center;
        text-transform: uppercase;
    }

    #item_sobre, #item_port {
        padding: 1vh 2vw 0 0;
    }

    #titulo{
        margin-left: 1.7vw;
        font-size: 2rem;
        padding: 2vh 1vw;
        text-wrap: nowrap;
    }

    main{
        height: 100vh;
        width: 100vw;

        margin: 5vh 0;
        flex-direction: column;
    }

    #main{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 3vh;
        margin-bottom: 0;
    }

    #titulo_port{
        font-size: 2rem;
        margin-top: 15vh;
        margin-bottom: 0;
        padding: 0;
    }

    #preto, #poke{
        flex-direction: column;
        margin: 0;
        gap: 2vh 0;
    }

    #fig_preto, #fig_poke{
        width: 100%;
        height: 300px;
    }

    #fig_poke{
        margin-top: 5vh;
    }

    #preto_texto, #poke_texto{
        width: 100%;
        text-wrap: wrap;
        margin: 1vw;
        gap: 3vh 0;
    }

    #preto_texto h1, #poke_texto h1{
        font-size: 1.8rem;
        padding-bottom: 0;
    }

    #preto_texto h3, #poke_texto h3{
        font-size: 1rem;
        text-align: center;
    }

    #preto_texto a, #poke_texto a{
        text-wrap: wrap;
    }

    #link{
        display: none;
    }
}

/*media query para notebook*/
@media (max-width: 1024px){
    *{
        margin: 0;
        padding: 0;
    }
    
    body{
        max-width: 100vw;
    }

    header{
        max-width: 100vw;
        margin: 0;
    }

    #outros a{
        font-size: 1rem;
    }

    #titulo_port{
        font-size: 3rem;
    }

    #preto, #poke{
        flex-direction: column;
    }

    #preto_texto, #poke_texto{
        width: 100%;
    }

    #preto_texto h1, #poke_texto h1{
        font-size: 2.3rem;
        margin-top: 4vh;
    }

    #preto_texto h3, #poke_texto h3, #link{
        font-size: 1.8rem;
    }

}

/*media query para tablet*/
@media (max-width: 768px){
}
/* fonte weight */

.bold{
    font-weight: 700;
}

.medium{
    font-weight: 500;
}

.regular{
    font-weight: 400;
}