@import url('https://fonts.googleapis.com/css2?family=Lekton:wght@400;700&family=Libre+Barcode+128+Text&family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #333;
    font-family: 'montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: default ;
    height: 100vh;
    width: 100vw;

}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    color: #fff;
    border-bottom: 1px solid #CCC;
    background: rgb(75, 75, 75, 0.9);
    filter: opacity(10);
    padding: 0vw 1vw;
    width: 100%;
    position: fixed;
    max-height: 100vh;
    min-height: 9vh;
    z-index: 300;
    transition: 1s;

}

main{
    display: flex;
    flex-direction: row;
    margin: 5vh 5vw;
    max-width: 100vw;
    min-width: 100vw;
    max-height: 100vh;
    min-height: 10vh;
    transition: 0.5s;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

#outros{
    display: flex;
    position: relative;
}

#outros ul{
    list-style: none;
    display: flex;
    gap: 3vw;
    padding-right: 3vw;
    align-items: start;
}

li{
    transition: 0.5s;

        &::after{
        content:'';
        position: absolute;
        width: 100%;
        height: 3px;
        background:rgba(255, 0, 0, 0.479);
        transform: scaleX(0);
        transform-origin: left;
        transition: 0.1s;
    }

    &:hover{
        transform: scaleX(1) ;
    }

    &:hover::after{
        transform: scaleX(1);
        transform-origin: left;
    }
}

#titulo{
    font-family: 'Lekton', sans-serif;
    padding-left: 1.5vw;
    font-size: 3rem;
    letter-spacing: 0.3rem;
}

#codebar{
    display: block;
    margin: 10vh 3vw;
    align-self: flex-end;
}

#barcode{
    font-family: 'Libre Barcode 128 Text';
    color: #fff;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    transform:rotate(-90deg) ;
}

#sobre{
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-top: 10vh;
    width: 100%;
    max-width: 100vw;
    font-family: 'Josefin Sans', sans-serif;
}

#sobre_texto{
    color: #ccc;
    font-size: 2.7rem;
}

#sobre_texto h1{
    text-wrap: nowrap;
    color: #fff;
}

#sobre_mim{
    text-align: right;
    padding: 6vw 0vw 0vw 10vw;
}

#sobre img{
    display: flex;
    padding: 10vh 1vw;
    width: 564px;
    height: 642px;
}

#buttons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 5vh 0;
    gap: 25px;
}

#buttons button{
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 2rem;
}

#git{
    background-color: #000;
}

#linkedin{
    background-color: #6EA5FF;
}

/* #insta{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
} */

svg{
    transition-duration: .3s;
}

path{
    fill: white;
}

#text{
    position: absolute;
    color: rgb(255, 255, 255);
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
    font-size: 1.2rem;
}

#buttons button:hover{
    width: 120px;
    transition-duration: .4s;
    border-radius: 2em;
}

#buttons button:hover #text {
    opacity: 1;
    transition-duration: .4s;
}

#buttons button:hover svg{
    opacity: 0;
    transition-duration: .3s;
  }


@media (max-width: 450px){

    *{
        max-width: 100vw;
    }

    body{
        overflow: visible;
    }
    
    header{
        width: 100vw;
        display: flex;
        flex-direction: column;
        min-height: 7vh;
        margin: 0;
        padding: 0;
        justify-content: center;
    }

    #outros{
        align-self: center;
        text-transform: uppercase;
    }

    #outros a{
        font-size: 0.5rem;
        padding: 1vh 2vw 0 0;
    }

    #titulo{
        margin-left: 2rem;
        font-size: 1.5rem;
        padding: 2vh 1vw;
        text-wrap: nowrap;
    }

    main{
        height: 100vh;
        width: 100vw;

        margin: 0;
        margin-top: 2vh;
        flex-direction: column;
    }

    #sobre{
        flex-direction: column;
    }

    #sobre_texto{
        font-size: 2rem;
    }

    #sobre_texto h1{
        text-wrap: wrap;
        font-size: 3rem;
        padding: 2vh 2vh 5vh;
        background-color: #181818;
        margin: 2vh 1.5vw;
    }

    #sobre_mim{
        text-align: center;
        padding: 5vw;
        font-size: 2rem;
        color: #fff;
    }

    #sobre img{
        width: 250px;
        height: 300px;
        align-self: center;
        padding: 2vh 1vw;
    }

    #buttons{
        align-self: center;
        justify-content: center;
        padding: 3vh 0;
        gap: 50px;
    }

    #buttons button{
        width: 80px;
        height: 80px;
        font-size: 2rem;
    }

    #codebar{
        display: flex;
        margin: 1vw;
        padding: 1vw;
        align-self: center end;
    }

    #barcode{
        transform: none;
    }

}

/* fonte weight */

.bold{
    font-weight: 700;
}

.medium{
    font-weight: 500;
}

.regular{
    font-weight: 400;
}
