@import url('https://fonts.googleapis.com/css2?family=Lekton:wght@400;700&family=Libre+Barcode+128+Text&family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #333;
    font-family: 'montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    cursor: default ;
    height: 100vh;
    width: 100vw;

}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    color: #fff;
    border-bottom: 1px solid #CCC;
    background: rgb(75, 75, 75, 0.9);
    filter: opacity(10);
    padding: 0vw 1vw;
    width: 100%;
    position: fixed;
    max-height: 100vh;
    min-height: 9vh;
    z-index: 300;
    transition: 1s;

}

main{
    display: flex;
    width: 100vw;
    margin: 5vh 5vw;
    max-width: 100vw;
    min-width: 100vw;
    max-height: 100vh;

    transition: 0.5s;
}

a{
    text-decoration: none;
    color: #fff;

}

ul a{
    font-size: 1.2rem;
}

#outros{
    display: flex;
    position: relative;
}

#outros ul{
    list-style: none;
    display: flex;
    gap: 3vw;
    padding-right: 3vw;
    align-items: start;
}

#item_sobre h2{
    border-bottom: 3px rgba(255, 0, 0, 0.4) solid;
}

#item_port{
    transition: 0.5s;

        &::after{
        content:'';
        position: absolute;
        width: 100%;
        height: 3px;
        background:rgba(255, 0, 0, 0.479);
        transform: scaleX(0);
        transform-origin: left;
        transition: 0.1s;
    }

    &:hover{
        transform: scaleX(1) ;
    }

    &:hover::after{
        transform: scaleX(1);
        transform-origin: left;
    }
}

#titulo{
    font-family: 'Lekton', sans-serif;
    padding-left: 1.5vw;
    font-size: 3rem;
    letter-spacing: 0.3rem;
}

#div_sobre{
    display: flex;
    flex-direction: row;
    margin: 5vh 4vw 0vh;
    width: 100vw;
    padding: 0;
}

#sobre_img{
    width: 560px;
    margin: 8vh 5vw;
    background-color: #646464aa;
    -webkit-filter: blur(0);
    filter: blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

    &:hover{
        -webkit-filter: blur(1px);
	    filter: blur(2px);
    }

    
}

#div_texto{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    text-align: justify;
    color: #fff;
    margin: 6vh;
}

#about{
    padding: 3vh 0vw;
    font-size: 3.5rem;
    align-self: flex-start;
}

#div_texto h3{
    font-size: 1.7rem;
}

#div_tech{
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0vh;
}

#titulo_tech{
    font-size: 3.2rem;
    color: #fff;
    margin: 0vh 14vw;
}

#techs{
    display: flex;
    justify-content: center;
    margin: 3vh 0;
    width: 100vw;
}

#img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh 4vw;
}

#img img{
    width: 300px;
}

#img h2{
    color: #fff;
    padding: 2vh;
    font-size: 2.5rem;
}












/* fonte weight */

.bold{
    font-weight: 700;
}

.medium{
    font-weight: 500;
}

.regular{
    font-weight: 400;
}
